*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 70px;
    background-color: black;
    color: blanchedalmond;
}
#nav{
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 15%;
   
   
}
#nav a{
    font-size: 30px;
    color: blanchedalmond;
}
